.FormContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.Textfield {
	width: 400px;
}

.btnASendAction {
	background: rgb(108, 14, 14);
	background: radial-gradient(
		circle,
		rgba(108, 14, 14, 1) 77%,
		rgba(172, 34, 34, 1) 100%
	);
	color: white;
	height: 54px;
	width: 400px;
	border-radius: 8px;
	font-size: 18px;
	transition: background, color 0.5s;
	outline: #ff0000;
	border: none;
	margin: 10px;
}

.btnASendAction:hover {
	color: red;
	background: rgb(0, 0, 0);
	background: radial-gradient(circle, rgb(11, 4, 4) 77%, rgb(0, 0, 0) 100%);
}


/*CartInside*/

.cartInsideContainer {
	border: 2px solid black;
	margin: 0% 20% 5% 20%;
}
.carrito {
    margin-top: 2%;
    text-align: center;
}
.itemCompra {
    margin: 2.5% 5% 2.5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 12px;
    padding: 2%;
}
.button {
    width: 40px;
    height: 40px;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.datosItem1 {
    display: flex;
    justify-content: flex-end;
}
.datosItem2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.datosItem3 {
    display:flex;
    justify-content: space-between;
}
.datosCompra {
    display: flex;
    flex-direction: column;
    justify-content: center;
}