.itemList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

@media (max-width: 900px) {
  .card {
    width: 80%;
  }
}

@media (min-width: 900px) {
  .card {
    width: 40%;
  }
}